<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <div id="mask" style="position: relative;">
        <img src="{% url media img %}" alt="" usemap="#faces">
    </div>
    <script type="text/javascript" src="/static/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
        $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
    </script>
    <script type="text/javascript">

        $(document).ready(function(){
            $.post('{% url detect_url %}', 'id={{ id }}', function(data){
                    $.each(data, function(i, f){
                        var face = $(' <div style="background: blue; opacity: 0.5; position: absolute;"></div>').css({
                            'top' : f.origin.y + 'px',
                            'left' : f.origin.x + 'px',
                            'height' : f.size.height + 'px',
                            'width' : f.size.width + 'px'
                        });

                        $('#mask').append(face);
                    })
            }, 'json');
        });

    </script>
</body>
</html>